/*stylesheet for google homepage project*/
body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}
.jpp {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.fist {
    margin-left: 15px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}
.tms {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.qwe {
    display: inline-block;
    flex-grow: 1;
}
.wer {
    min-width:auto;
    font: 13px/27px
    Roboto, RobotoDraft, arial, sans-serif;
    z-index:986;
    height: 48px;
    color: black;
    position: relative;
    transition: box-shadow 250ms;
}
.rty {
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    white-space: nowrap;
    -moz-box-align: center;
    align-items: center;
    display: flex;
    -moz-user-select: -moz-none;
}
.yyu {
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}
.fst {
    display: inline-block;
    padding-left: 15px;
}
.aza {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0, 87);
    text-decoration: none;
}
.gbf {
    float: right;
    position: relative;
}
.hht {
    display: inline;
}
.yjy {
    padding-left: 4px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}
.uku {
    psition: relative;
}
.jkj {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    background-position: -64px -29px;
    padding: 8px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}
.ili {
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}
.wwdd {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
}
.aass {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}
.kzk {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}
.lnxd {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.jj9m {
    position: relative;
    top: 200px;
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.ffgg {
    width: auto;
    max-width: 584px;
    positio: relative;
    margin: 0 auto;
    padding-top: 6px;
}
.rnnx {
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}
.sdkep {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.ccanb {
    margin: auto;
}
.qcz {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}
.abcw {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.prana {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}
.fpocx {
    position: relative;
    height: 70px;
    padding-top: 18px;
}
.gnoo:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.gnoo {
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}